<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/contacts.js') }}"></script>
</head>
<body>
{% block body %}
<i class="fa-solid fa-user" style="color: #ffffff; font-size: 5vw;"></i><i id="title">Contacts</i>
<div id="main">

    <div id="contacts">
        {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
        <ul id="list">
            {% for contact in contacts %}
                <li id="contact-{{ contact[0] }}">
                    <span class="contact-name">{{ contact[1] }}</span>
                    <span class="rightmost">
                        <a href="{{ url_for('contact_details', contact_id=contact[0]) }}" class="icon-link">
                            <i class="fa-solid fa-eye" style="color:black;" title="View"></i>
                        </a>
                        <a href="{{ url_for('contact_details', contact_id=contact[0]) }}" class="icon-link">
                            <i class="fa-solid fa-pen" style="color:black;" title="Edit"></i>
                        </a>
                        <form action="{{ url_for('remove_contact', contact_id=contact[0]) }}" method="POST" style="display:inline;">
                            <button type="submit" class="icon-link" style="background:none; border:none; cursor:pointer;color:black;" id="trash-{{ contact[0] }}">
                                <i class="fa-solid fa-trash" title="Remove"></i>
                            </button>
                        </form>
                    </span>
                    <br><br>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button id="addContactbtn" type="button">Add Contact</button>
</div>
{% endblock %}
</body>
</html>
