<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/contact_details.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact_details.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
{% block body %}
<i class="fa-solid fa-user" style="color: #ffffff;font-size:5vw;"></i>
<div id="main">
    <div id="sub">
    <form id="contactDetails" method="POST">
        <input type="text" name="full_name" value="{{ contact[0] }}" readonly required><br>
        <input type="email" name="email" value="{{ contact[1] }}" readonly required><br>
        <input type="text" name="phone_number" value="{{ contact[2] }}" readonly required><br>
        <button type="button" id="toggleEditBtn">Enable Editing</button>
        <button type="submit" id="saveBtn" >Save</button>
    </form>
    </div>
</div>
{% endblock %}
</body>
</html>
